/* Corrected CSS */

body {
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  color: #000;
  text-align: center;
  padding: 1em 0;
}

nav a {
  margin: 0 10px;
  font-size: 18px;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
}

h1, h2, h3 {
  color: #000;
}

h2 {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

#projects, #skills, #contact, #misc-projects {
  margin-top: 40px;
}

#projects ul, #misc-projects ul {
  list-style: none;
  padding: 0;
}

#projects li, #misc-projects li {
  margin-bottom: 10px;
}

#skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  margin: 10px;
}

#contact p {
  margin: 5px 0;
}

#misc-projects h2 {
  color: #000;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

a {
  color: #000;
}

body {
  scroll-behavior: smooth;
}

.black-icon {
  color: #000;
}

header, footer {
  color: #000;
  text-align: center;
}

#contact {
  text-align: center;
  padding: 20px;
}

.contact-icons {
  display: inline-block;
  margin-top: 10px;
}

#about {
  color: #000;
  text-align: center;
}

#ibm-capstone {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  margin: 10px;
}
